:root{
    --content-max-width: 65em;
}
#finstat-api-services {
    text-align: center;
}

#finstat-api-services + p {
    text-align: center;
    margin-top: 3em;
}

img[src*='/img/logo.png'] {
    height: 100px;
    width: auto;
    margin: 0 auto;
}

#finstat-api-services ~ ul {
    list-style: none;
    margin: 5em 0 0 0;
    padding: 0;
    overflow: hidden;
}

#finstat-api-services ~ ul li {
    width: 48%;
    text-align: center;
    text-decoration: none;
    margin: 1%;
    padding: 0;
    float: left;
    box-shadow: 5px 5px rgba(0, 0, 0, .05);
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: 10px;
}

#finstat-api-services ~ ul li:hover {
    box-shadow: 5px 5px rgba(0, 0, 0, .1);
    border-color: rgba(0, 0, 0, .1);
}

#finstat-api-services ~ ul li a { 
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}

.markdown-section blockquote p ~ code:last-child,
.markdown-section blockquote p strong ~ code:last-child {
    --code-font-size: calc(var(--font-size-m) * 0.7);
    display: block;
    overflow: auto;
    white-space: pre-wrap
}


.app-nav > ul > li {
    margin: 0;
    padding: 0;
}
.app-nav img[src*="flag-"]{
    height: 30px;
    width: auto;
    box-shadow: 3px 3px rgba(0, 0, 0, .05);
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: 15px;
    text-align: center;
}

.app-nav img[src*="flag-"]:hover {
    box-shadow: 3px 3px rgba(0, 0, 0, .1);
    border-color: rgba(0, 0, 0, .1);
}

.sidebar-nav ul > li > ul {
    display: none;
}

.sidebar-nav ul li:has(ul li.active) > ul,
.sidebar-nav ul li.active > ul {
    display: block;
}

code[class*='lang-']{
    --code-font-size: calc(var(--font-size-m) * 0.75)
}


.markdown-section table,
.markdown-section table thead,
.markdown-section table tbody,
.markdown-section table tfoot {
    display: inline-table;
    width: 100%;
}
.markdown-section table thead th {
    color: white;
    background: #555;
}
.markdown-section table th:first-child,
.markdown-section table td:first-child {
    width: 25%;
    text-align: right;
}

.markdown-section table th:last-child,
.markdown-section table td:last-child {
    width: 75%;
    text-align: left;
}